a.out.dSYM
test.dSYM
test
test_cuda
a.out
.vscode
run.txt
output*
testpy
create_plot.py
.editorconfig
output.log
test.80s*
*.ipynb
lsb.DPHPC_Project.r*
figures*
steps_to_libraries.md
plot_rgf.py
create_plot.py
*.o